.element {
  min-width: 700px;
  border: 1px solid black;
  padding: 12px 20px;
  min-height: 500px;
}

.heading {
  margin-bottom: 32px;
}

.headingBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  margin-bottom: 20px;
}

.sum {
  font-size: 20px;
  margin-top: 30px;
}