.wrapper {
    display: flex;
    align-items: center;
    max-width: 350px;
    justify-content: space-between;
    position: relative;

    input {
        font-size: 16px;
        min-height: 34px;
        line-height: 24px;
        border-radius: 10px;
        color: black;
        background: transparent;
        border: 1px solid black;
        padding: 5px 8px;
    }
}

.label {
    margin-right: 16px;
}